.todo-list {
  padding-top: 20px;
  li .label {
    margin-left: 10px;
    font-size: 9px;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #f0ad4e;
  }
}